@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* ---------variables ------------ */
:root {
    /* colors */
    --color-Off-white: hsl(36, 100%, 99%);
    --color-Grayish-blue: hsl(233, 8%, 79%);
    --color-Dark-grayish-blue: hsl(236, 13%, 42%);
    --color-Very-dark-blue: hsl(240, 100%, 5%);
    --color-Soft-orange: hsl(35, 77%, 62%);
    --color-Soft-red: hsl(5, 85%, 63%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}



a:link, a:visited, a:active {
    text-decoration:none;
}

.main-container {
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}

.main-card {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card-main-text {
    display: flex;
}

.card-main-title {
    width: 50%;
    font-size: 3.5rem;
    font-weight: 800;
}

.card-main-paragraph {
    width: 50%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-main-paragraph button {
    width: 170px;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: darkslategrey;
    color: var(--color-Off-white);
    background-color: var(--color-Very-dark-blue);
    padding: 0px 30px;
}

.aside p {
   color: var(--color-Grayish-blue);
   margin-top: 10px;
}

.aside a {
    color: var(--color-Off-white);
    font-weight:700;
    color: var(--color-Off-white);
    font-weight:700;
}

.aside a:hover {
    color: var(--color-Soft-orange);
}

.aside-title {
    color: var(--color-Soft-orange);
    margin: 20px 10px;
    font-weight: 700;
    font-size: 3rem;
}

.card-item {
    display: flex;
}

.card-item h2 {
color: var(--color-Grayish-blue);
font-weight: 700;
}

.card-item h3 {
 font-size: 1.2rem;
 font-weight: 800;
    }

.card-item-text {
    padding-left: 20px;
}

.card-image {
    height: 151px;
}

/* .card-left {
    border: solid blue;
}

.card-center {n
    border: solid orangered;
}

.card-right {
    border: solid violet;
} */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 10px;
    padding-top: 20px;
    }

.nav-link:hover {
    color: red;
}